<h4>Sign Up</h4>

<%= form_with model: @user, local: true do |form| %>
    <%= form.text_field :email %>
    <%= form.text_field :username %>
    <%= form.text_field :password %>
<% end %>

<h4>Already a Member?</h4>
<a href="/login">Log In</a>
