<h2>InASnap!</h2>
<h4>A place to find you a photographer.</h4>
<br>
<h5>New to the Community?</h5>
<br>
<h6><a href="/signup">Sign Up to Begin</a></h6>
<br>
<h5>Already a Member?</h5>
<br>
<h6><a href="/login">Log In</a></h6>
<br>
<%= link_to 'Login via Github', '/auth/github' %>

