<h4><%= @photographer.id %></h4><br>
    Name: <%= @photographer.name %><br>
    Camera: <%= @photographer.camera %><br>
    Area: <%= @photographer.area %><br>
    

    #add /reviewrating here eventually
    