<h4><%= @location.name %></h4><br>
    <p>Photoshoots at this Location</p>
        <% if current_user == @user %>
        <% end %>
        <% @photoshoots.each do |photoshoot| %>
            <%= link_to photoshoot.client, user_photoshoot_path(@user, photoshoot) %><br>
            <%= link_to photoshoot.user.username, user_photoshoot_path(@user, photoshoot) %>
            <% end %>