<nav>
<div class="nav-wrapper">
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><%= link_to "Log Out", logout_path, method: :delete %></li>
    <li><%= link_to "Home", welcome_path %></li>
    <li><%= link_to "Photographers", photographers_path %></li>

  </ul>
</div>
</nav>